.ToolBar{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #67729c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    box-sizing: border-box;
    top: 0;
}
.ToolBar nav{
    height: 100%;
}
@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
   
}
@media (min-width: 500px) {
    .ToolBar{
        height: 6vh;
    }
}