.SideBar{
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    z-index: 600;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
 .Logo{
    height: 11%;;
    margin-bottom: 20px;
}
.Open{
    transform: translateX(0);
}
 .Closed{
    transform: translateX(-100vw);
}