table{
    margin:auto;
    width: 80% !important;
}
th ,td{
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle !important;
}
.noItems{
    font-size: 20px;
    font-weight: 500;
}
thead th {
    text-align: left;
    border-bottom: 2px solid black;
  }
  
