.details{
    display: flex;
    padding: 50px;
    font-size: 24px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}
.left img{
width: 600px;
margin: auto;
}
.right{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    margin: auto;
}
.right h1{
    color:  #40a4c8;
}
.details form{
    padding: 20px;
    border: 1px solid #80808073;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px #b8b7b7;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.details form button{
    background-color: #40a4c8;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.details form p{
    margin: 0;
    font-size: small;
}
.details form .bidsStats{
    margin-bottom: 20px;

}
.details form .bidsStats span:last-child{
    margin-left: 20px;
    color: #40a4c8;
}

@media screen and (max-width: 900px) {
    .left img{
        width: 300px;
        }
        .details{
        flex-direction: column;
        font-size: 20px;
        }
        .details form{
            width: initial;
        }
  }